# Created by .ignore support plugin (hsz.mobi)
build
dist
dist.bak
*.txt
test*.py
GameAssist.py
YugiohTool.spec
/Chongshi.png
/图片/
/Test/
CaiDan_png.py
Chongshi_png.py
FP.spec
Hao_png.py
JiaSu.png
Jieshu_png.py
JueDou.dll
JueDou_png.py
QueRen_png.py
XiaYiBu_png.py
YugiohTool/
YugiohToolDemo.spec
__pycache__/
api-cd.dll
api-cs.dll
api-drw.dll
api-h.dll
api-jd.dll
api-js.dll
api-qr.dll
api-xyb.dll
api-zd.dll
chacha.png
csmjuedou.png
duorenwu.png
duorenwu_png.py
favicon.ico
heimonv.ico
houshou.png
houshou_png.py
juedouwang.png
qd.png
shenji.png
tzjs.png
venv/Include/
xianshou.png
xianshou_png.py
zhongduan.png
zhongduan_png.py
/Yugiohdemo.py
/xiuxian_png.py
/zhandou_png.py
/zhujiemian_png.py
/shijuedou_png.py
/paiming_png.py
/lvse_png.py
/kc_png.py
/fanhui_png.py
/kunnan_png.py
/leidian4.0.spec
/zidongjuedou_png.py
/zudui_png.py
YugiohToolSteam.spec
/config.ini
/leidian4.0.py
/YugiohToolMoniqi.py
/YugiohToolSteam.py
/YugiohToolDemo.py
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/
CaiDan_steam_png.py
Chongshi_steam_png.py
Hao_steam_png.py
Jieshu_steam_png.py
JueDou_steam_png.py
MysqlHelper.py
QueRen_steam_png.py
XiaYiBu_steam_png.py
canzhanzhe_png.py
canzhanzhe_steam_png.py
chongqi_steam_png.py
clear_png.py
daohuiquxiao_png.py
daohuiquxiao_steam_png.py
duorenwu_steam_png.py
fanhui_steam_png.py
feichangkunnan_png.py
guaishouka_png.py
guanbi_png.py
guanbi_steam_png.py
huodejiangli_png.py
huodejiangli_steam_png.py
huodongjuedou_png.py
huodongjuedou_steam_png.py
jiesujuedou_png.py
jiesujuedou_steam_png.py
jinriliwu_png.py
jiuyuan_png.py
jiuyuan_steam_png.py
kaishiyouxi_png.py
kaishiyouxi_steam_png.py
kc_steam_png.py
kcjuedou_png.py
kcjuedou_steam_png.py
kunnan_steam_png.py
lvse_steam_png.py
mofaka_png.py
paiming_steam_png.py
regist.py
register
screenshot/
shijuedou_steam_png.py
xianjingka_png.py
xiuxian_steam_png.py
youxitubiao_png.py
zandouQueRen_steam_png.py
zhandou_steam_png.py
zhitouzi_png.py
zhitouzi_steam_png.py
zhongduan_steam_png.py
zhujiemian_steam_png.py
zidongjuedou_steam_png.py
